.CalendarListItem {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px 25px;
    display: inline-block;
    margin: 5px;
    clear: right;
    background: #f9f9f9;
    color: #888;
    cursor: pointer;
}
.CalendarListItem:hover {
    background: #f1f1f1;
}
.CalendarListItem.chosen {
    background: #008ed6;
    color: #fff;
    border-color: #008ed6;
}