.StripeElement {
    border: 1px solid #e6e9ec;
    box-shadow: inset 0px 1px 3px 0px rgba(0,1,1,0.06);
    background: #f9fafb;
    padding: 10px 12px 11px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.StripeElement--focus {
    border-color: #008ed6;
    background: #fff;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.billing-form {
    border: 2px solid #eee;
    padding: 10px 15px 30px;
    border-radius: 3px;
    border-top: 4px solid #008ed6;
}

.plan-options {
    padding-top: 30px;
}