.headers {
  background-color: #333333;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.headers h4 {
  color: white;
}

.commodity {
  background-color: white;
  border: 1px solid #cccccc;
}

.commodity:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.commodity .selected {
  background-color: #f2f2f2;
}
