.ConsultationMethod {
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 20px 0;
    opacity: 0.6;
    color: #666;
    cursor: pointer;
    margin-bottom: 15px;
    background: #f9f9f9;
}
.ConsultationMethod.chosen {
    opacity: 1;
    border-color: #ccc;
    background: #fff;
}
.ConsultationMethod:hover {
    opacity: 1;
    border-color: #008ed6;
}
.ConsultationMethod img{
    display: block;
    margin: 0 auto 10px;
    max-width: 100px;
    filter: grayscale(100%);
}
.ConsultationMethod.chosen img, .ConsultationMethod:hover img {
    opacity: 1;
    filter: grayscale(0%);
}
.ConsultationMethod span {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
}