.Notification {
    position: fixed;
    height: 71px;
    bottom: 20px;
    padding: 10px 20px 10px 45px;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    transition-duration: 0.7s;
}
.Notification.success {
    background: #008ed6;
}
.Notification.error {
    background: #F44336;
}
.Notification.slide-out {
    left: -1000px;
}
.Notification.slide-in {
    left: 20px;
}
.Notification p {
    display: inline-block;
}
.Notification a {
    display: inline-block;
    color: #fff;
    padding-left: 40px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.Notification.success a:hover {
    color: #2a6496;
}
.Notification.error a:hover {
    color: #C62828;
}