.PlanDetails {
  padding: 10px 15px 20px;
}
.PlanDetails h2 {
  color: #008ed6;
  font-size: 72px;
  margin: 0;
  padding-bottom: 10px;
}

.PlanDetails h2 span {
  font-size: 25px;
  color: #666;
  font-weight: 300;
  margin-left: 10px;
}


.PlanDetails ul {
  list-style-type: circle;
  padding: 0 0 0 20px;
  margin: 0;
}

.PlanDetails ul li, .PlanDetails p {
  color: #666;
  font-size: 17px;
  line-height: 29px;
}
.PlanDetails p {
  margin: 0;
  padding-bottom: 10px;
}
.PlanDetails h5 {
  color: #444;
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
}