.YourSubscription {
    border: 2px solid #eee;
    padding: 10px 15px 30px;
    border-radius: 3px;
    border-top: 4px solid #008ed6;
    color: #666;
    font-size: 16px;
}
.YourSubscription h2 {
    color: #008ed6;
    font-size: 42px;
}

.YourSubscription a {
    cursor: pointer;
}