@import '../../shared/variables';


.bidder-avatar {
  padding: 1px 1px 1px 1px;
  background-color: $md-blue-grey-500;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  color: $md-blue-grey-50;


  h3 {
    font-size: 0.8em;
  }

  p {
    font-size: 10px;
  }

  h2 {
    font-size: 18px;
  }
}

.bidder-avatar.inactive {
  background-color: $md-blue-grey-800;
}

.bidder-avatar.nominating {
  border-bottom: 7px solid $md-green-400;
}
