body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}
.no-padding {
    padding: 0;
}
.hide {
    display: none;
}
.blue-text {
    color: #008ed6;
}
.blue-background {
    background: #008ed6;
}
.content-area {
    margin-top: 67px;
}
.inner-page {
    background: #f5f7f9;
}
.inner-page h1 {
    font-weight: 300;
    color: #008ed6;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
.inner-page h3.title {
    margin: 0;
    padding-bottom: 15px;
    font-size: 18px;
    color: #666;
}
.inner-page .module {
    padding: 20px;
    background: #fff;
    border-right: 2px solid #eee;
}
.input-group {
    padding: 10px 10px 25px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 35px;
}
.label {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #666;
    margin: 15px 0;
    padding-left: 5px;
    letter-spacing: 0.4px;
}

/**
*
* Buttons
*
*/

.btn {
    padding: 12px 0;
    outline: none;
    border: none;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 50px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    text-decoration: none;
    width: 100%;
    max-width: 300px;
}
.btn.btn-blue {
    color: #fff;
    background: #008ed6;
}
.btn.btn-blue:hover {
    background: #005b8a;
}
.btn.btn-disabled {
    color: #999;
    background: #f1f1f1;
    cursor: default;
}

.btn.btn-small {
    max-width: 150px;
}

.btn.btn-inline {
    display: inline-block;
}


/*
 *
 * Modal Styles
 *
 */

.ReactModal__Body--open {
    overflow: hidden;
}
.Modal {
    z-index: 999;
    position: relative;
}
.ModalOverlay {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.ModalBody {
    background: #fff;
    margin: 50px auto;
    max-width: 1020px;
    padding: 25px;
    border-radius: 4px;
    outline: none;
    position: relative;
}

.ModalBody h1 {
    margin: 0;
    padding-bottom: 15px;
    font-size: 18px;
    color: #666;
}
.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    font-size: 22px;
    color: #666;
    cursor: pointer;
}
.embed-code {
    word-break: break-word;
    background: #eee;
    color: #555;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}