.login {
    background: #eee;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.login-box {
    background: #fff;
    border-radius: 3px;
    /*border: 1px solid #ddd;*/
    margin: 80px auto;
    max-width: 760px;
    overflow: hidden;
    box-shadow: 0 0 25px #ccc;
}

.login-bg {
    opacity: 0.9;
    border-right: 2px solid #ddd;
    border-radius: 3px 0 0 3px;
}

.login-actions {
    padding: 90px 20px;
}

.login-actions .login-logo {
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.login-actions .login-btn {
    margin: 55px auto;
    display: block;
    text-align: center;
    width: 191px;
    height: 46px;
}

.login-actions .login-btn:hover {
    opacity: 0.9;
}