.sidebar {
    background: #f9f9f9;
    padding: 10px 15px;
}

.sidebar-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-navigation li a{
    padding: 12px 0;
    color: #999;
    text-align: center;
    letter-spacing: 1px;
    background: #f1f1f1;
    border-radius: 50px;
    margin-bottom: 15px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.sidebar-navigation li a:hover {
    background: #ddd;
}

.sidebar-navigation li a.active {
    background: #008ed6;
    color: #fff;
    cursor: default;
}

.loader {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding-bottom: 35px;
    color: #999;
}

@media (min-width: 768px){
    .sidebar {
        border-right: 1px solid #eee;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 67px;
    }
}