// ======== Theme Blue
// ------- site-nav
// ----------------
$site-nav-bg:                       $md-grey-900;
$site-nav-toggle-color:             $md-grey-900;
$site-nav-head-color:               $md-yellow-200;
$site-nav-head-border-color:        $md-yellow-200;
$site-nav-list-color:               lighten($md-yellow-200, 15%);
$site-nav-list-hover-color:         $md-yellow-200;

// ------ view-header
// ------------------
$view-header-bg:                    $site-nav-toggle-color;


/// MORE COMING SOON


/// ####### END #######
