@import '../../shared/variables';

.AuctionRoom {

  .chat-container {
    width: 100%;
    z-index: 1;
    background-color: #212121;
    margin: 0;
    height: auto;

    .chat-nomination {
      vertical-align: middle;
      position: relative;
      bottom: 0;
    }
  }

  .loading-screen {
    margin: auto;
    margin-top: 75px;
    width: 20%;

    .loader {
      margin: auto;
    }

    p {
      text-align: center;
      margin-top: 15px;
      color: $md-blue-grey-100;
    }
  }

  .loader {
      border: 10px solid $md-blue-grey-500; /* Light grey */
      border-top: 10px solid $md-blue-grey-100; /* Blue */
      border-radius: 50%;
      width: 80px;
      height: 80px;
      animation: spin 1s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  .continue-btn {
    position: fixed;
    top: 1.3em;
    right: 1.3em;
  }

  .new-draft-room-btn {
    margin-top: 50px;
    width: 180px;
    margin: auto;
    text-align: center;
    background-color: $md-green-400;
    cursor: pointer;
    border-radius: 5px;
    color: black;
  }

  .rollback-btn {
    position: fixed;
    top: 1.3em;
    right: 15em;

    .btn {
      margin-top: 50px;
      width: 180px;
      margin: auto;
      text-align: center;
      background-color: $md-green-400;
      cursor: pointer;
      border-radius: 5px;
      color: black;
    }
  }

  .leave-draft {
    position: fixed;
    top: 1.45em;
    left: 12em;
    color: white;

    #leave-draft-btn {
      cursor: pointer;
    }

    #confirm-leave-draft {
      display: none;
      p {
        margin-bottom: 2px;
      }
      .option {
        display: inline-block;
        margin-right: 10px;
        margin-left: 10px;
        cursor: pointer;
        color: $md-green-400;
      }
    }
  }
}

.AuctionRoom.main-view {
    background-color: #212121;
}
