#commodities-table .reactable-data tr:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.commodities-wrapper .btn {
  cursor: pointer;
  border-color: #d8d8d8;
}

.commodities-wrapper .btn:hover {
  background-color: #eceff1;
}
