@import '../../shared/variables';

.token-login {
  width: 30%;
  height: auto;
  padding: 15px;
  background-color: $md-blue-grey-100;
  margin: auto;
  margin-top: 75px;

  h3 {
    padding: 5px;
  }

  select {
    margin-bottom: 15px;
  }

  form {
    label {
      display: inline-block;
    }
    input {
      display: block;
      margin-bottom: 10px;
    }
  }
}
