@import '../../shared/variables';

.home {
  color: $md-blue-grey-100;
  overflow-y: scroll;
  height: 100%;

  .roomId-box {
    text-align: center;
    h3 {
      padding: 15px;
    }
    a {
      color: blue;
    }
  }

  .rules-inputs {
    padding: 30px;
    label {
      margin: 15px;
    }
  }

  .players-input {
    padding: 30px;
    input {
      margin: 15px;
      width: 75%;
    }
  }

  .bidder-inputs {
    padding: 30px;

    .add-bidder {
      padding: 2px;
      background-color: $md-green-400;
      width: 100px;
      text-align: center;
      border-radius: 2px;
      color: black;
      cursor: pointer;
      margin-bottom: 10px;
    }
  }


  .content {
      margin: 15px;
  }

  h1 {
    color: $md-green-400;
  }

    /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      color: black;

      /* Modal Content/Box */
      .modal-content {
          background-color: #fefefe;
          margin: 15% auto; /* 15% from the top and centered */
          padding: 20px;
          border: 1px solid #888;
          width: 60%; /* Could be more or less, depending on screen size */

          form {
            margin: auto;
            text-align: center;
            h4 {
              padding: 5px;
            }
            input{
              margin-bottom:5px;
              margin-left: 10px;
            }
          }
      }

      /* The Close Button */
      .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }

      .close:hover,
      .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
      }
  }



  .continue-btn {
    position: fixed;
    top: 1.3em;
    right: 1.3em;
  }

  .new-draft-room-btn {
    margin-top: 50px;
    width: 180px;
    margin: auto;
    text-align: center;
    background-color: $md-green-400;
    cursor: pointer;
    border-radius: 5px;
    color: black;
  }

  .roomId-box {
    margin: auto;
    width: 40%;
    background-color: $md-green-400;
    color: black;
    margin-top: 100px;
  }
}

.bidder-li {
  list-style-type: none;
  width: 50%;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  color: black;
}
