@import '../../shared/variables';

.players-box {
  height: 100vh;
  overflow-y: scroll;
  background-color: $md-blue-grey-50;
  position: relative;
  z-index: 100;

  .players-wrapper {
    background-color: $md-blue-grey-50;
  }
}
