@import '../../shared/variables';

.players-box {
  height: 90vh;
  overflow-y: scroll;
  background-color: $md-blue-grey-50;
  position: relative;
  z-index: 100;
  padding: 10px 5px 0px 5px;

  .players-wrapper {
    background-color: $md-blue-grey-50;
  }
}
